<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Management Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center mb-4">Healthcare Management Dashboard</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Daftar Pasien</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <% patients.forEach(function(patient) { %>
                                <li class="list-group-item">
                                    <strong>Nama:</strong> <%= patient.name %> | 
                                    <strong>Usia:</strong> <%= patient.age %> tahun | 
                                    <strong>Jenis Kelamin:</strong> <%= patient.gender %> | 
                                    <strong>Diagnosis:</strong> <%= patient.diagnosis %>
                                </li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Tambah Pasien</h2>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-primary btn-block" href="p.html"">Tambah Pasien</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function addPatient() {
            // Ganti URL sesuai dengan URL untuk menambahkan pasien
            window.location.href = "/add_patient";
        }
    </script>
</body>
</html>
