<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Add Owner</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
    <div class="container mt-5">
        <h2>Add Owner</h2>
        <form id="addOwnerForm" method="POST" action="registration">
            <div class="form-group">
                <div class="form-group">
                    <label for="name">Staff Name</label>
                    <input type="text" class="form-control" id="name" name="name" required />
                </div>
            </div>
            <div class="form-group">
                <label for="addr">Staff Address</label>
                <input type="text" class="form-control" id="addr" name="addr" required />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" name="password" required />
            </div>
            <button type="submit" class="btn btn-primary">Add Owner</button>
        </form>
    </div>

    <!-- <script>
      $(document).ready(function () {
        $("#addOwnerForm").on("submit", function (event) {
          event.preventDefault();
          const formData = {
            name: $("#name").val(),
            occupation: $("#occupation").val(),
            addr: $("#addr").val(),
          };
          $.ajax({
            url: "/addOwner",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(formData),
            success: function (response) {
              window.location.href = "/";
            },
            error: function (error) {
              console.log("Error:", error);
            },
          });
        });
      });
    </script> -->
</body>

</html>